samples/ValidateNIF.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://validateNIF" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2207="http://validateNIF/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://validateNIF">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://validateNIF/xsd">
      <xs:complexType name="InputvalidateNIF">
        <xs:sequence>
          <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OutputvalidateNIF">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReturnCode" type="xs:int" />
          <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax2208="http://validateNIF/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://validateNIF">
      <xs:import namespace="http://validateNIF/xsd" />
      <xs:element name="validateNIF">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="data" nillable="true" type="ax2207:InputvalidateNIF" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validateNIFResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax2207:OutputvalidateNIF" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="validateNIFRequest">
    <wsdl:part name="parameters" element="ns:validateNIF" />
  </wsdl:message>
  <wsdl:message name="validateNIFResponse">
    <wsdl:part name="parameters" element="ns:validateNIFResponse" />
  </wsdl:message>
  <wsdl:portType name="validateNIFPortType">
    <wsdl:operation name="validateNIF">
      <wsdl:input message="ns:validateNIFRequest" wsaw:Action="urn:validateNIF" />
      <wsdl:output message="ns:validateNIFResponse" wsaw:Action="urn:validateNIFResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="validateNIFSoap11Binding" type="ns:validateNIFPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="validateNIF">
      <soap:operation soapAction="urn:validateNIF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="validateNIFSoap12Binding" type="ns:validateNIFPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="validateNIF">
      <soap12:operation soapAction="urn:validateNIF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="validateNIFHttpBinding" type="ns:validateNIFPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="validateNIF">
      <http:operation location="validateNIF" />
      <wsdl:input>
        <mime:content type="application/xml" part="parameters" />
      </wsdl:input>
      <wsdl:output>
        <mime:content type="application/xml" part="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="validateNIF">
    <wsdl:port name="validateNIFHttpSoap11Endpoint" binding="ns:validateNIFSoap11Binding">
      <soap:address location="http://127.0.0.1:8080/axis2/services/validateNIF.validateNIFHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="validateNIFHttpSoap12Endpoint" binding="ns:validateNIFSoap12Binding">
      <soap12:address location="http://127.0.0.1:8080/axis2/services/validateNIF.validateNIFHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="validateNIFHttpEndpoint" binding="ns:validateNIFHttpBinding">
      <http:address location="http://127.0.0.1:8080/axis2/services/validateNIF.validateNIFHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>